:root {
  --color-bg: #FDFDFD;
  --text-color : #1F2937;

  --color-primary: #C8A7F4;      /* operators & display screen */
  --color-secondary: #E4D7F7;    /* number buttons */
  --color-accent: #A79FB6;       /* AC button */

  --hover-primary: #d6bdf4;
  --hover-secondary: #eee3fa;
  --hover-accent: #c5c1cd;
  --box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.dark-theme {
  --text-color: #1F2937;       
  --color-bg: #1B1B1F;      

  --color-primary: #B497F4;    
  --color-secondary: #D0C0F7;          
  --color-accent: #A79FB6;             

  --hover-primary: #B28DF1;      
  --hover-secondary: #E1D6FA;          
  --hover-accent: #C7B3E5; 
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  font-family: 'Manrope', monospace;
}

.calculator {
  width: 360px;
  height: 650px;
  background-color: var(--color-bg);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
}

.display-answer {
  position: relative;
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 40px;
  font-weight: bold;
  border-radius: 25px 25px 25px 25px;
  padding: 0 18px 15px 25px; 
  background-color: var(--color-primary);
  color: var(--text-color);
  box-sizing: border-box; 
  word-break: break-word;
  overflow-wrap: break-word;
}

.display-answer::after {
  content: '|';
  font-weight: normal;
  font-size: 45px;
  color: var(--text-color); 
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.buttons-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 9px;
  justify-items: center;
  margin-top: 10px;
  padding: 20px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.button,
.button-operator,
.button-clear {
  width: 70px;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 25%;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  color: var(--text-color);
  transition: background-color 0.2s ease;
}

.button {
  background-color: var(--color-secondary);
}

.button-operator {
  background-color: var(--color-primary);
}

.button-clear {
  background-color: var(--color-accent);
}

.button:active,
.button-operator:active,
.button-clear:active {
  transform: scale(0.95);
}

.button:hover {
  background-color: var(--hover-secondary); 
}

.button-operator:hover {
  background-color: var(--hover-primary); 
}

.button-clear:hover {
  background-color: var(--hover-accent); 
}


.display-wrapper {
  position: relative;
}


.theme-switch {
  position: absolute;
  top: 20px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
}

img {
  height: 20px;
}
